extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='/') Wikilogia Storm Publisher
        ul.nav
          li
            a(href='#') User
          li
            a(href='#') About
        ul.nav.pull-right
          li
            a.brand(class='pull-right') #{user.first_name}
          li
            a(href='/logout',class='pull-right') Logout
  .container
    .row-fluid
        form(method='post', action='/post',id='form1')
          .span3
            .well
               h5 <b>Groups...</b>
            .well.scrollbar#style-1
               each item, i in groups
                 label(class='checkbox') #{item.name}
                   input(type='checkbox',name='checkbox[#{item.id}]',id='#{item.id}')
                 hr
          .span7
            .well
              h4 Type your post..
              textarea(type='text' , class='span10',name='text' )
              br
              label(class='checkbox') Post on my wall
                input(type='checkbox',name='me')
              input(type='file',name="upload",accept='image/*')
              input(type='submit',value='Publish It !',class= 'btn btn-success pull-right',id='publish')
            hr(id='stream')


         .span2
            .well
              h5 User Info..
              <strong>User :</strong>
              p(class='text-info')     #{user.name}
              <strong>location :</strong>
              p(class="text-success")   #{user.location.name}

        
